// Place all the styles related to the twi_challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fix{
    clear: both;
}

section#user-list{
    width: 1000px;
    margin: 30px auto 0 auto;
    background-color: #BFEFFF ;
    
}
#noFriendMsg{
    margin: 50px auto 100px 100px ;
}
#instructionMsg{
    margin: 20px auto  10px 100px;
}
.user-profile-padding{
    width: 330px;
    float: left;
    min-height: 60px;
    padding: 10px;
    /*background: lightgreen;*/
}
.posotion{
    position: absolute;
}
.user-profile,.sch-user-profile{
    width: 300px;
    background: #B2DFEE ;
    margin-left: 10px;
    z-index: 10;
}
#hover_unfollow_text,#sch-hover_unfollow_text{
    
    margin-top: 15px;
    margin-left: 220px;
    color:grey;
    z-index: 0;
}
.prof-img, .sch-prof-img{
    /*background: lime;*/
    width:48px;
    float: left;
    z-index: 10;
}
.usrname,.sch-usrname{
    margin-top: 10px;
    float: right;
    display: inline;
    
}
.user-profile:hover,.sch-user-profile:hover{
    background: #88DDDD  ;
    cursor: pointer;
}

#friend_pagination{
    height: 30px;
    padding-left: 100px;
}
.pagenum{
    display: inline;
}
.crt_page{
    display: inline;
    background: #B2DFEE;
}
#search_explain{
    height: 30px;
    margin-left: 100px;
}
#searchMsg,{
    margin-left: 330px;
    font-size: 15px;
    color: grey;
}
#unfollow-fm-error{
    font-size: 15px;
    color: grey;
}
#search_user{
    margin: 10px auto 10px auto;
}
#search_user form{
    margin: auto;
}
#userbox{
    float: left;
    /*background: lime;*/
    width: 700px;
}
#sidebox{
    float: right;
    margin: 10px;
    padding: 10px;
    width: 260px;
    background: #B2DFEE;
}
#markerAll{
    margin-top: 30px;
}


/*########about page############*/
section#about{
    width: 1000px;
    margin: 30px auto 0 auto;
    background-color: #BFEFFF ;
    padding: 30px;
}
section#about p{
    margin: 10px auto 10px auto;
}


