// Place all the styles related to the twi_challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fix{
    clear: both;
}

section#user-list{
    width: 1000px;
    margin: 30px auto 0 auto;
    background-color: #BFEFFF ;
    
}
.user-profile-padding{
    width: 330px;
    float: left;
    min-height: 60px;
    padding: 10px;
    /*background: lightgreen;*/
}
.user-profile{
    width: 300px;
    background: #B2DFEE ;
    margin-left: 10px;
}
.user-profile:hover{
    background: #88DDDD  ;
    cursor: pointer;
}

#friend_pagination{
    height: 30px;
    padding-left: 100px;
}
.pagenum{
    display: inline;
}
.crt_page{
    display: inline;
    background: #B2DFEE;
}
#search_user{
    margin: 10px auto 10px auto;
}
#search_user form{
    margin: auto;
}
#userbox{
    float: left;
    /*background: lime;*/
    width: 700px;
}
#sidebox{
    float: right;
    margin: 10px;
    padding: 10px;
    width: 260px;
    background: #B2DFEE;
}



/*########about page############*/
section#about{
    width: 1000px;
    margin: 30px auto 0 auto;
    background-color: #BFEFFF ;
    padding: 30px;
}
section#about p{
    margin: 10px auto 10px auto;
}


