  <section id="about">
    <p>This is a ruby on rails practice project. The goal is to interact with Twitter API using <a href="http://en.wikipedia.org/wiki/OAuth" title="OAuth Wikipedia">OAuth</a> Authentication.</p>
    <p>You can SIGN IN from the link over the top right corner of the page to start playing with it.</p>
    <p>Any suggestions/comments/critics are welcomed to <a href="mailto:Bin Zhu<binzhu1070@gmail.com>">binzhu1070@gmail.com</a></p>
    <p>Github Link: <a href="https://github.com/binzhu/Twitter_Oauth_Practice">Twitter_Oauth_Practice</a></p>
    <p>Use cases include.</p>
    <ul>
      Index Page:
      <li>Authorize and let user sign in with twitter account.</li>
      <li>Display friend list with pagination of 20/page upon user signing in.</li>
      <li>Click on user to mark for unfollowing.</li>
      <li>Click "Marker All" to mark all user in current page.</li>
      <li>Click "Unfollow Selected" button to unfollow selected users.</li>
      <li>Put in search keyword to search for users based on screen name. Will redirect to search result page</li>
      Search Result Page:
      <li>Display a list of users based on user's search</li>
      <li>Same click/mark/mark all function with index page.</li>
      <li>Click "Follow Selected" button to follow selected users.</li>
      <li>Signout from app.</li>
      <li>Signout twitter account.</li> 
    </ul>

    <p>Gems used:</p>
    <ul>
      <li>oauth-ruby, <a href="https://github.com/oauth/oauth-ruby">github link</a></li>
      <p>A gem made for both server and client implementation. Used to obtain access_token and authorize api calls.</p>
      <li>typhoeus, <a href="https://github.com/typhoeus/typhoeus">github link</a></li>
      <p>A gem to make customized http requests. Used to issue authorized http request to make api calls.</p>
    </ul>
    <p>Problems encountered:</p>
    <ul>
      <li>Before using 'oauth-ruby' gem, I wrote a customizable oauth library, but the authorization header string seems to be not correct.</li>
      <li>Not sure what to do after user unfollow a list of friends, maybe make another ajax call to fill the space back. And paging status should be updated too.</li>
      <li>Displaying the current paging status was a pain negotiating over backend and frontend logic, I chose backend login with front helpers.</li>
    </ul>
    <p>More thoughts:</p>
    <ul>
      <li>Maybe try again to write a oauth authentication library.</li>
      <li>Take performance more into consideration, specifically pagination algorithm, caching data to reduce request, etc.</li>
    </ul>
    <br />
    <p><a href="http://www.linkedin.com/in/binzhu1070">Bin Zhu</a>  08-26-2012</p>
  </section>
  