  <section id="about">
    <p>This is a ruby on rails practice project. The goal is to interactive with Twitter API with <a href="http://en.wikipedia.org/wiki/OAuth" title="OAuth Wikipedia">OAuth</a> Authentication.</p>
    <p>Github Link:<a href="https://github.com/binzhu/Twitter_Oauth_Practice">Twitter_Oauth_Practice</a></p>
    <p>Use cases include.</p>
    <ul>
      Index Page:
      <li>Authorize and let user sign in with twitter account.</li>
      <li>Display friend list with pagination of 20/page upon user signing in.</li>
      <li>Click on user to mark for unfollowing.</li>
      <li>Click "Marker All" to mark all user in current page.</li>
      <li>Click "Unfollow Selected" button to unfollow selected users.</li>
      <li>Put in search keyword to search for users based on screen name. Will redirect to search result page</li>
      Search Result Page:
      <li>Display a list of users based on user's search</li>
      <li>Same click/cark/mark all function with index page.</li>
      <li>Click "Follow Selected" button to follow selected users.</li>
      <li>Signout from app.</li>
      <li>Signout twitter account.</li> 
    </ul>

    <p>Gems used:</p>
    <ul>
      <li>oauth-ruby, <a href="https://github.com/oauth/oauth-ruby">github link</a></li>
      <p>A gem made for both server and client implementation. Used to obtain access_token and authorize api calls.</p>
      <li>typhoeus, <a href="https://github.com/typhoeus/typhoeus">github link</a></li>
      <p>A gem to make customized http requests. Used to issue authorized http request to make api calls.</p>
    </ul>
  </section>